html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
    box-sizing: border-box;
}
a {
	text-decoration: none;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding: 0 16px;
	float: left;
}

.container {
    margin: 0 auto;
    width: 100%;
 	padding: 0 16px;
}

.row {
	margin: 0 -16px;
}

.row:before, .row:after {
    display: table;
    content: " ";
    clear: both;		
}

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@media(min-width: 320px) {
	.col-sm-1 {
		width: 8.3333333333%;
	}

	.col-sm-2 {	
		width: 16.666666666%;
	}

	.col-sm-3 {	
		width: 25%;
	}

	.col-sm-4 {	
		width: 33.3333333333%;
	}

	.col-sm-5 {	
		width: 41.6666666666%;
	}

	.col-sm-6 {	
		width: 50%;
	}

	.col-sm-7 {	
		width: 58.33333333333%;
	}

	.col-sm-8 {	
		width: 66.66666666666%;
	}

	.col-sm-9 {	
		width: 75%;
	}

	.col-sm-10 {	
		width: 83.33333333333%;
	}

	.col-sm-11 {	
		width: 92.66666666666%;
	}

	.col-sm-12 {	
		width: 100%;
	}
}


@media(min-width: 800px) {
	.container {
		width: 768px;
	}

	.col-md-1 {
		width: 8.3333333333%;
	}

	.col-md-2 {	
		width: 16.666666666%;
	}

	.col-md-3 {	
		width: 25%;
	}

	.col-md-4 {	
		width: 33.3333333333%;
	}

	.col-md-5 {	
		width: 41.6666666666%;
	}

	.col-md-6 {	
		width: 50%;
	}

	.col-md-7 {	
		width: 58.33333333333%;
	}

	.col-md-8 {	
		width: 66.66666666666%;
	}

	.col-md-9 {	
		width: 75%;
	}

	.col-md-10 {	
		width: 83.33333333333%;
	}

	.col-md-11 {	
		width: 92.66666666666%;
	}

	.col-md-12 {	
		width: 100%;
	}
}


@media(min-width: 1200px) {
	.container {
		width: 1168px;
	}

	.col-lg-1 {	
		width: 8.3333333333%;
	}

	.col-lg-2 {	
		width: 16.666666666%;
	}

	.col-lg-3 {	
		width: 25%;
	}

	.col-lg-4 {	
		width: 33.3333333333%;
	}

	.col-lg-5 {	
		width: 41.6666666666%;
	}

	.col-lg-6 {	
		width: 50%;	
	}

	.col-lg-7 {	
		width: 58.33333333333%;
	}

	.col-lg-8 {	
		width: 66.66666666666%;
	}

	.col-lg-9 {	
		width: 75%;
	}

	.col-lg-10 {	
		width: 83.33333333333%;
	}

	.col-lg-11 {	
		width: 92.66666666666%;
	}

	.col-lg-12 {	
		width: 100%;
	}
}
