@base: #49cbcd;

@font-face {
	font-family: lobster;
	src: url(../fonts/Lobster_1_4.otf);
}

body {
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 14px;
}

.block-header {
	.nav {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		background: #fff;
		width: 100%;
		.logo {
			font-family: lobster;
			font-size: 32px;
			float: left;
			line-height: 103px;
			a {
				color: #44c0c2;
			}
		}
		.menu {
			list-style-type: none;
			float: right;
			li {
				display: inline-block;
				a {
					padding: 44px 24px 45px 20px;
					display: block;
					color: #484c55;
				}
				a:hover {
					border-bottom: 3px solid @base;
					padding: 44px 24px 42px 20px;
					background: #f8f9fb;
					color: @base;
				}
			}
			.fa-bars {
				display: none;
			}
		}
		.menu-mobile {
			display: none;
		}
	}
	.head-slider {
		margin: 103px 0 0;
		.slider-element {
			background: url("../img/Layer 4.png") no-repeat;
			background-size: 100% 100%;
			padding: 145px 0;
			.slider-block {
				width: 672px;
				font-size: 64px;
				text-align: center;
				color: #ffffff;
				margin: 0 auto 48px;
			}
			.slider-text {
				text-align: center;
				margin: 0 auto;
				width: 385px;
				font-size: 24px;
				color: #ffffff;
				line-height: 27px;
			}
			.slider-submit {
				background: transparent;
				border: 3px solid #ffffff;
				border-radius: 5px;
				color: white;
				padding: 16px 37px 15px;
				margin: 63px auto 0;
				display: block;
				width: 225px;
				text-align: center;
				font-size: 26px;
			}
		}
		.slick-prev, .slick-next {
			background: #fff url(../img/Shape.png) no-repeat 20px 12px;
			z-index: 1;
			width: 52px;
			height: 52px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			margin: -26px 0 0;
			border: 0;
			cursor: pointer;
		}
		.slick-next {
			right: 29px;
		}
		.slick-prev {
			left: 29px;
			transform: rotate(180deg);
		}
		.slick-next:focus, .slick-prev:focus {
			outline: none;
		}
	}
}

.block-team {
	color: #4e525d;
	text-align: center;
	margin: 108px 0 0;
	font-size: 42px;
}
.team-element-container {
	color: #4e525d;
	margin: 140px 0 107px;
	.circle {
		width: 201px;
		height: 201px;
		border-radius: 50%;
		margin: 0 auto 70px;
		background: #eeeef0;
	}
	.circle:hover {
		background: #eeeef0 url("../img/+.png") no-repeat 50% 50%;
	}
	.head {
		text-align: center;
		margin: 0 0 35px;
		span {
			font-size: 22px;
		}
		p {
			margin: 6px 0 0;
		}
	}
	.content {
		text-align: center;
		line-height: 24px;
	}
}

.subscription-container {
	padding: 119px 0 100px;
	background: #f1f1f1;
	.block-subscription {
		.content{
			.head-content {
				display: block;
				background: #485460;
				color: white;
				text-align: center;
				font-size: 26px;
				line-height: 75px;
			}
		}
		.block-list {
			div {
				text-align: center;
				display: block;
				background: #ffffff;
				color: #abafb4;
				margin: 0 auto;
				border-bottom: 1px solid #ecf0f1;
				border-right: 1px solid #ecf0f1;
				border-left: 1px solid #ecf0f1;
				font-size: 14px;
				line-height: 44px;
			}
			div:first-child {
				background: #f8f9fb;
				font-size: 20px;
				line-height: 67px;
			}
		}
		.block-button {
			background: #f8f9fb;
			padding: 29px 0;
			text-align: center;
			border-bottom: 1px solid #ecf0f1;
			border-right: 1px solid #ecf0f1;
			border-left: 1px solid #ecf0f1;
			button {
				color: #fff;
				border-radius: 2px;
				background: #788492;
				border: 0;
				width: 170px;
				font-weight: 600;
				padding: 10px 0;
				font-size: 17px;
				cursor: pointer;
			}
			button:hover {
				background: @base;
			}
		}
	}
}




.block-footer {
	background: url("../img/contact.png") no-repeat;
	background-size: 100% 100%;
    padding: 100px 0;
	.block-contact {
		text-align: center;
		color: #fff;
		font-size: 42px;
		margin: 0 0 115px;
	}
	.contact-element-container {
		max-width: 450px;
		p {
			color: #999999;
			margin: 8px 0 0;
			line-height: 18px;
		}
		.contact {
			color: #bface2;
		}
		a {
			color: #bface2;
			text-decoration: none;
		}
		.reference {
			margin: 3px 0 0;
			color: #fff;
			font-size: 24px;
		}
		.socialite {
			margin: 35px 0 20px;
			a {
				width: 42px;
				height: 42px;
				display: block;
				border-radius: 50%;
				float: left;
				margin: 0 15px 0 0;
				color: #fff;
				text-align: center;
				i {
					line-height: 44px;
				}
			}
			.facebook {
				background: #3b5997;
			}
			.twitter {
				background: #3ec2f3;
			}
			.google {
				background: #e44c41;
			}
		}
	}
	.form-input {
		input, textarea {
			padding: 12px 20px;
			border-radius: 2px;
			border: 0;
			width: 100%;
			margin: 0 0 31px;
		}
		textarea {
			height: 179px;
			max-height: 179px;
			max-width: 100%;
		}
		button {
			background: @base;
			border: 0;
			border-radius: 2px;
			color: #ffffff;
			width: 170px;
			padding: 14px 0;
			font-size: 18px;
			float: right;
			cursor: pointer;
		}
	}
}



/*media*/
@media(max-width: 1199px) {
	.team-element-container {
		margin: 35px 0 15px;
		.circle {
			margin: 0 auto 30px;
		}
		.head {
			margin: 0 0 15px
		}
	}
	.block-header {
		.head-slider {
			.slider-element {
				padding: 85px 0;
			}
		}
	}
	.subscription-container {
		.last-element {
			margin: 50px 0 0 25%;
		}
	}
	.block-body2 {
		padding: 65px 0;
	}
	.block-footer {
	    padding: 65px 0;
		.contact-element-container {
			.socialite {
				margin: 25px 0 16px;
			}
		}
		.block-contact {
			margin: 0 0 65px;
		}
		.form-input {
			input, textarea {
				margin: 0 0 20px;
			}
			textarea {
				height: 120px;
				max-height: 120px;
			}
			button {
				width: 150px;
				padding: 10px 0;
				font-size: 16px;
			}
		}
	}
}

@media(max-width: 799px) {
	.team-element-container {
		margin: 15px 0 15px;
		.circle {
			margin: 0 auto 15px;
		}
	}
	.block-header {
		.head-slider {
			display: none;
		}
	}
	.subscription-container {
		.block-subscription {
			max-width: 400px;
			margin: 15px auto;
		}
		.last-element {
			margin: 0;
		}
	}
	.block-footer {
    	padding: 65px 0 40px;
		.contact-element-container {
			max-width: none;
			text-align: center;
			.socialite {
				width: 171px;
				margin: 25px auto 16px;
			}
		}
		.block-contact {
			margin: 0 0 40px;
		}
		.form-input {
			margin: 10px auto;
			max-width: 400px;
			input, textarea {
				margin: 0 0 10px;
			}
			button {
				width: 100%;
				padding: 8px 0;
				font-size: 16px;
			}
		}
    }
	.block-header {
		.nav {
			.menu {
				display: none;
			}
			.menu-mobile {
				display: block;
				position: absolute;
				li {
					display: block;
					background: #fff;
					a {
						padding: 10px;
						display: block;
						color: #484c55;
					}
					a:hover  {
						background: #f8f9fb;
						color: @base;
						padding: 10px;
						border: 0;
					}
				}
				.fa-bars {
					display: inline-block;
					margin: 20px 0 0;
					cursor: pointer;
				}
				.menu-list {
					display: none;
				}
			}
			.logo {
				float: none;
				text-align: center;
				line-height: 65px;
			}
		}
	}
}
